# Eclipse
.classpath
*/.classpath
.project
*/.project
.settings/
*/.settings/

# IntelliJ IDEA
out/
*/out/
.idea/
*/.idea/
*.iml
*/.iml
*.iws
*/.iws

# Mac
.DS_Store
*/.DS_Store

# Maven
log/
*/log/
target/
*/target/

# Gradle
.gradle
/build/
*/build/
gradle-app.setting
*/gradle-app.setting
!gradle-wrapper.jar
*/!gradle-wrapper.jar
.gradletasknamecache
*/.gradletasknamecache
